/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: $second-font;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
