/* здесь используйте глобальные переменные */

//цвета
$base-color-text: #444444;
$bg-basic: #68b738;

//шрифты
$base-font: "Oswald", "Arial", sans-serif;
$second-font: "Lato", "Arial", sans-serif;

//разметка
$tablet-width: 768px;
$desktop-width: 1440px;
