/* COMMON */
@import "./common/visually-hidden.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/hero.scss";
@import "./blocks/site-list.scss";
@import "./blocks/catalog.scss";
@import "./blocks/nav.scss";
@import "./blocks/footer.scss";

