.catalog {
  font-family: "Oswald", sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.catalog__product-name {
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  text-transform: uppercase;
  text-align: center;
}

.catalog__product-term,
.catalog__product-definition {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $base-color-text;
}
