.social__item {

}

.social__link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: #666666;
  }

  &:is(:hover, :focus-visible, :focus)::before {
    background-color: $bg-basic;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.social__link--vk::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-vkontakte");
}

.social__link--tube::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-youtube");
}

.social__link--tg::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-telegram");
}

.brand {
  display: flex;

  &:is(:hover, :focus-visible, :focus-within, :focus) .brand__link::before {
    background-color: $bg-basic;
  }

  &:active .brand__link::before,
  &:active .brand__text {
    opacity: 0.3;
  }
}

.brand__link {
  width: 27px;
  height: 34px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-htmlacademy");
    background-color: #666666;
    width: 27px;
    height: 34px;
  }
}

.brand__text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
}

