.hero {
  font-family: $base-font;
  font-weight: 400;
  letter-spacing: 0%;

  position: relative;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-top: 65px;
    padding-left: 90px;
    margin-bottom: 5px;
    min-height: 805px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-top: 55px;
    padding-left: 80px;
    margin-bottom: 22px;
    min-height: 530px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    max-width: 520px;
    margin-bottom: 40px;
    color: #000000;
  }
}

.hero__text {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 29px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 52px;
  }
}

.hero__link {
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 27px;
  }
}

.hero__image {
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -5px;
    right: -1px;
    margin: 0 auto;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -25px;
    left: 50%;
    bottom: inherit;
    margin-left: 25px;
    margin-top: -1px;
    transform: translateX(-34%);
  }
}
