.information {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.information__title {
  padding-top: 20px;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    margin: 0 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
  }
}

.information__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 87px 60px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
  }
}

.information__item {
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    min-height: 230px;
    counter-increment: my-counter;
  }
}

.information__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: $bg-basic;
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.information__item::after {
  content: "";
  position: absolute;
  font-family: $base-font;
  font-size: 280px;
  line-height: 280px;
  color: #f2f2f2;
  z-index: -1;
  left: 113px;
  top: -40px;

  @media (min-width: $tablet-width) {
    content: counter(my-counter);
  }
}


.information__item--leaf::before {
  background-image: url("../../icons/stack.svg#leaf");
}

.information__item--cup::before {
  background-image: url("../../icons/stack.svg#cup");
  background-size: 28px;
}

.information__item--cutlery::before {
  background-image: url("../../icons/stack.svg#cutlery");
  background-size: 25px;
}

.information__item--clock::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px;
}

.information__text {
  margin: 2px 0 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;
    margin: 0;
  }

  .tablet-break {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

