.main-nav {
  font-family: $base-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;

  display: none;
  width: 100vw;
  margin-left: -20px;

  position: absolute;
  top: 65px;
  z-index: 3;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    position: static;
    background-color: transparent;
    margin: 0;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    justify-content: end;
    margin-top: 8px;
  }
}

.main-nav--closed {
  display: block;
}

.main-nav--nojs {
  display: block;
  position: static;
  margin: 14px -20px -14px;
}


.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;


  &:last-child {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border: none;
    }
  }
}

.main-nav__link {
  font-family: $base-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  position: relative;
  display: block;
  padding: 22px 0 23px;
  text-transform: uppercase;
  transition: 0.3s;


  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin: 3px 4px 0 30px;
    padding: 11px 0 10px;
    max-width: 220px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 3px 0 0 34px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 2px;
    background-color: $bg-basic;
  }


  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    bottom: -2px;
  }
}

.main-nav__item:not(:first-child) .main-nav__link--current::after {
  @media (min-width: $desktop-width) {
    background-color: $bg-basic;
  }
}
