.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-header--preview::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    min-height: 694px;
    top: 0;
    right: 0;
    left: inherit;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/hero-background-desktop@1x.webp") 1x,
        url("../../images/hero-background-desktop@2x.webp") 2x,
        url("../../images/hero-background-desktop@1x.png") 1x,
        url("../../images/hero-background-desktop@2x.png") 2x
      );
    background-size: auto 100%;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.main-header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 14px;
  position: relative;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .main-header--preview .main-nav__link {
    color: #ffffff;
  }
}

@media (min-width: $desktop-width) {
  .main-header--preview .main-nav__link--current::after {
    color: #ffffff;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;

  a:last-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    max-width: 174px;
    gap: 13px;

    a:last-child {
      position: relative;
      left: 0;
      transform: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 202px;
    gap: 14px;
  }

  &:not(:disabled):not(.button-disabled):is(:hover, :focus-visible, :focus-within, :focus) {
    opacity: 0.8;
  }

  &:not(:disabled):not(.button-disabled):active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 24px;
  line-height: 30px;
  margin-bottom: 4px;
  margin-right: 1px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2px;
    background-color: #111111;
    font-size: 0;
    color: transparent;
    right: 0;
    transition: background-color 0.3s, right 0.3s ease-in-out;

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #111111;
      transition: transform 0.3s, top 0.3s 0.3s;
    }

    &::after {
      top: 8px;
    }

    &::before {
      top: -8px;
    }
  }
}

.main-header__toggle--opened {
  @media (min-width: $tablet-width) {
    display: none;
  }

  span {
    background-color: transparent;
    right: -4px;

    &::after,
    &::before {
      transform: rotate3d(0, 0, 1, 45deg);
      transition: top 0.3s, transform 0.3s 0.3s;
      top: 0;
    }

    &::before {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }
}

.main-header__toggle--nojs {
  display: none;
}
