.main-nav {
  font-family: $base-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #000000;

  display: none;
  left: 50%;
  right: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;

  position: absolute;
  top: 65px;
  z-index: 3;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    background-color: transparent;
    margin: 0;
    width: auto;         // Отменяем 100vw
    margin-left: 0;      // Убираем выезд влево
    margin-right: 0;     // Убираем выезд вправо
    max-width: 100%;
  }
}

.main-nav--closed {
  display: block;
}

.main-nav--no-js {
  display: block;
}


.main-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-right: -20px;
  }
}

.main-nav__link {
  font-family: $base-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  position: relative;
  display: block;
  padding: 25px 0;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  transition: 0.3s;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    border: none;
    padding: 10px 19px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    width: auto;
    height: 2px;
    background-color: $bg-basic;
  }


  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}
