.page-footer__container {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    height: 147px;
    grid-template-rows: none;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    height: 169px;
  }
}

.page-footer__logo {
  position: relative;
  display: block;
  font-size: 0;
  width: 128px;
  margin: 20px auto 0;
  padding: 20px;

  @media (min-width: $tablet-width) {
    margin: auto auto auto -20px;
  }

  &:is(:hover, :focus-visible, :focus-within, :focus) {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  img {
    width: 128px;
  }
}

.page-footer__social-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  box-shadow:
    0 -1px 0 0 #d9d9d9,
    0 1px 0 0 #d9d9d9;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    margin: 0;
  }
}

.page-footer__social-item {
  padding: 10px;
}

.page-footer__social-link {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: #666666;
  }

  &:is(:hover, :focus-visible, :focus)::before {
    background-color: $bg-basic;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.page-footer__social-link--vk::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-vkontakte");
}

.page-footer__social-link--tube::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-youtube");
}

.page-footer__social-link--tg::before {
  content: "";
  mask-image: url("../../icons/stack.svg#logo-telegram");
}

.page-footer__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: end;
    gap: 10px;
  }

  &:is(:hover, :focus-visible, :focus-within, :focus) .brand__link::before {
    background-color: $bg-basic;
  }

  &:active .brand__link::before,
  &:active .brand__text {
    opacity: 0.3;
  }
}

.page-footer__brand-text {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
  max-width: 70%;

  @media (min-width: $tablet-width) {
    margin-right: 14px;
  }
}

.page-footer__brand-link {
  width: 27px;
  height: 34px;

  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#logo-htmlacademy");
    background-color: #666666;
    width: 27px;
    height: 34px;
  }
}
