.programs {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 30px 20px 22px;

  & + & {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 30px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 315px 58px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 52px 60px;
  }
}

.programs__item::before {
  content: "";
  border: none;
  position: absolute;
  top: 21px;

  @media (min-width: $tablet-width) {
    top: 80px;
    right: 63px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    right: inherit;
  }
}

.programs__item--diet::before {
  background-image: url("../../icons/stack.svg#cat-diet1");
  width: 50px;
  height: 53px;

  @media (min-width: $tablet-width) {
    width: 201px;
    height: 212px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.programs__item--energy::before {
  background-image: url("../../icons/stack.svg#cat-diet2");
  width: 67px;
  height: 50px;
  left: 12px;
  top: 24px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
    top: 91px;
    right: 33px;
    left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
    left: 33px;
    top: 47px;
  }
}

.programs__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $base-font;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.programs__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 27px;
    margin-bottom: 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 15px;
    margin-bottom: 17px;
    border: none;
  }
}

.programs__link {
  display: flex;
  font-family: $base-font;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
  width: max-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &::after {
    content: "";
    width: 32px;
    height: 12px;
    background: url("../../icons/stack.svg#arrow") no-repeat center;
    transition: transform 0.3s linear;
    transform-origin: left center;
    display: block;
    margin: auto 0 auto 17px;

    @media (min-width: $tablet-width) {
      margin: auto 0 auto 26px;
    }
  }

  &:is(:hover, :active, :focus-visible, :focus)::after {
    transform: scale(1.35);
  }

  &:active {
    opacity: 0.3;
  }
}
