.programs__item::before {
  content: "";
  border: none;
  display: block;
}

.programs__item--diet::before {
  background-image: url("../../icons/stack.svg#cat-diet1");
  width: 50px;
  height: 53px;

  @media (min-width: 768px) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: 1440px) {
    width: 100px;
    height: 106px;
  }
}

.programs__item--energy::before {
  background-image: url("../../icons/stack.svg#cat-diet2");
  width: 67px;
  height: 50px;

  @media (min-width: 768px) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: 1440px) {
    width: 134px;
    height: 100px;
  }
}

.programs__link {
  &::after {
    content: "";
    width: 32px;
    height: 10px;
    background: url("../../icons/stack.svg#arrow") no-repeat center;
    transition: transform 0.3s linear;
    transform-origin: left center;
    display: block;
  }

  &:is(:hover, :active, :focus-visible, :focus)::after {
    transform: scale(1.35);
  }
}
