.slider {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    margin: auto 0 10px auto;
    grid-column: 2;
    grid-row: 1 / 6;
  }
}

.slider__image {
  background-color: $bg-second;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 151px, $bg-second 151px);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 135px, $bg-second 135px);
  }
}

.slider__image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 50%);
  transition: left 0.2s ease-out, clip-path 0.2s ease-out;
}

.slider__range {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 40px;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: ew-resize;
  z-index: 10;
}

.slider__range:focus:not(:active):not(:hover) + .slider__button::before,
.slider__range:focus:not(:active):not(:hover) + .slider__button {
  box-shadow: 0 0 0 2px #000000;
}

.slider__range:active + .slider__button::before,
.slider__range:hover + .slider__button::before {
  box-shadow: none;
}

.slider__range:is(:hover, :focus-visible, :focus):not(:active) + .slider__button,
.slider__range:is(:hover, :focus-visible, :focus):not(:active) + .slider__button::after {
  background-color: $bg-basic;
}


.slider__range:active + .slider__button,
.slider__range:active + .slider__button::after {
  background-color: #5eaa2f;
  opacity: 60%;
}


.slider__button {
  display: block;
  width: 4px;
  height: 100%;
  background-color: #666666;
  padding: 0;
  border: none;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  pointer-events: none;
  transition: left 0.2s ease-out, clip-path 0.2s ease-out;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: none;
  }

  &::after {
    content: "";
    display: block;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    mask-image: url("../../icons/stack.svg#controls");
    background-color: #666666;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
